@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
  background: linear-gradient(to bottom right,#b1ff99,#4faa1a)
}
#container {
  display: grid;
  grid-template-columns: repeat(9, 11.13%);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  border: 4px solid black;
  }
#container 
input {
  height: 60px;
  text-align: center;
  font-size: 130%;
  border:3px solid #58575791;
  transition: 0.9s;                         /*added time for transition*/
}
input:focus,input::after{
  outline:none;
}

.heading{
  font-family: 'Montserrat', sans-serif;
  font-size:50px;
  text-align: center;

}